:root{
    --skindark: #fa9;

}
.main{
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


.main div, .main div::before, .main div::after{
    position: absolute;
    display: block;
    box-sizing: border-box;
}

/* face  */
.face{
    width: 35%;
    height: 25%;
    background-color:#fca;
    border-radius: 120% / 50%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}


.eye{
    width: 27%;
    height: 30%;
    /* background-color: black; */
    border-radius: 100%;
    border-top: 1vmin solid;
    top: 38%;
    left: 13%;
    border: 0.25vmin solid #fca;
    box-shadow: -0.125vmin -2.2vmin 0 -0.5vmin black;
}

.eye + .eye{
    left: 62%;

}


.eyebrow{
    width: 35%;
    height: 30%;
    /* background-color: red; */
    border-radius: 100%;
    box-shadow: -0.125vmin -2.2vmin 0 -0.5vmin #fff;
    top: 25%;
    left: 8%;
}

.eyebrow + .eyebrow {
    right: 7.5%;
    left: auto;
  }

  .nose{
    width: 20%;
    height: 30%;
    border-radius: 100% / 120%;
    background: #fca;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 
    inset -0.5vmin -0.5vmin 0.5vmin -0.25vmin var(--skindark),
    inset 0vmin -0.75vmin 0.5vmin -0.25vmin var(--skindark),
    inset 0.5vmin -1vmin 1vmin -0.75vmin var(--skindark);
  }

  .mustache{
    width: 30%;
    height: 20%;
    background: whitesmoke;
    border-radius:100% 0;
    top: 59%;
    left: 50%;
    transform: translate(-100%) rotate(15deg);
  }

  .mustache + .mustache{
    transform: scaleX(-1) rotate(196deg);
  }