:root{
    --skindark: #fa9;

}
.main{
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: skyblue;

}


.main div, .main div::before, .main div::after{
    position: absolute;
    display: block;
    box-sizing: border-box;
}

/* face  */
.face{
    width: 35%;
    height: 25%;
    background-color:#fca;
    border-radius: 120% / 50%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}


.eye{
    width: 27%;
    height: 30%;
    /* background-color: black; */
    border-radius: 100%;
    border-top: 1vmin solid;
    top: 38%;
    left: 13%;
    border: 0.25vmin solid #fca;
    box-shadow: -0.125vmin -2.2vmin 0 -0.5vmin black;
}

.eye + .eye{
    left: 62%;

}


.eyebrow{
    width: 35%;
    height: 30%;
    /* background-color: red; */
    border-radius: 100%;
    box-shadow: -0.125vmin -2.2vmin 0 -0.5vmin #fff;
    top: 25%;
    left: 8%;
}

.eyebrow + .eyebrow {
    right: 7.5%;
    left: auto;
  }

  .nose{
    width: 20%;
    height: 30%;
    border-radius: 100% / 120%;
    background: #fca;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 
    inset -0.5vmin -0.5vmin 0.5vmin -0.25vmin var(--skindark),
    inset 0vmin -0.75vmin 0.5vmin -0.25vmin var(--skindark),
    inset 0.5vmin -1vmin 1vmin -0.75vmin var(--skindark);
  }

  .mustache{
    width: 30%;
    height: 20%;
    background: whitesmoke;
    border-radius:100% 0;
    top: 59%;
    left: 50%;
    transform: translate(-100%,0) rotate(15deg);
    z-index: 2;
    box-shadow: inset -0.25vmin -0.25vmin 0.75vmin #0002
  }

  .mustache + .mustache{
    transform: scaleX(-1) translate(0, 0) rotate(15deg);
  }

  /* lip */
  .lip{
    width: 10%;
    height: 10%;
    background: var(--skindark);
    border-radius: 50%;
    top: 69%;
    left: 50%;
    transform:translateX(-50%);
    z-index: 1;
  }


  /* beard  */

  .beard{
    position: absolute;
    width: 120%;
    height: 100%;
    background: #fff;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100% / 20% 20% 120% 120%;
    box-shadow: 0 0.5vmin #ddd;
    filter: drop-shadow(0 0.5vmin 0.5vmin #0002);
  }


.beard::before{
    content: "";
    width: 22%;
    height: 30%;
    background-color: #fff;
    left: -7%;
    top: 8%;
    color: #fff;
    border-radius: 100%;
    box-shadow:
    2vmin 7vmin 0 2.5vmin,
    6vmin 12vmin 0 1vmin,
    16vmin 12vmin 0 2vmin,
    22vmin 10vmin 0 1vmin,
    24vmin 6vmin 0 1.6vmin,
    26vmin 0 
    ;
}

.body{
    width: 150%;
    height: 300%;
    background: #c00;
    left: -25%;
    top: 100%;
    z-index: -1;
    border-radius: 100%/120% 120% 80% 80%;
}

.body::before {
    content: "";
    width: 100%;
    height: 50%;
    border-bottom: 8vmin solid #181818;
    border-radius: 50%;
    transform: translate(-50%,0);
    top: 25%;
    left: 50%;
  }
  
  .body::after {
    content: "";
    width: 22%;
    height: 15%;
    border: 1.5vmin solid orange;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vmin;
  }